<br />
<div class="container">
    <div class="card">
        <div class="card-header">
            <div style="text-align: center;">
                <h3>Create New Employee</h3>
            </div>
        </div>
        <div class="card-body">
            <form #employeeForm="ngForm">

                <div class="form-group">
                    <label for="name" class="control-label">Full Name</label>
                    <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="employeeModel.name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="employeeModel.email">
                </div>

                <div class="form-group">
                    <label for="phoneNumber" class="control-label">Phone Number</label>
                    <input id="phoneNumber" type="text" class="form-control" name="phoneNumber" #phone="ngModel" [(ngModel)]="employeeModel.phone">
                </div>

                <button class="btn btn-primary" type="submit" (click)="onAddEmployee()" [disabled]="employeeForm.invalid">Save</button>

            </form>
        </div>
    </div>
</div>