<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <div style="text-align: center;">
            <h3>All Employees</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeesList">
                    <td>{{ emp.name}}</td>
                    <td>{{ emp.phone}}</td>
                    <td>{{ emp.email}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>